.product-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 5px 5px 40px gray;

    &__title {
        align-self: flex-start;
        margin: 1rem 0 0 1.5rem;
        color: #1d3d5b;
        font-size: 0.9rem;
    }

    svg {
        @media (min-width: 1200px) {
            width: 800px;
        }
    }
}

.x-axis path {
    stroke: rgba(0, 0, 0, 0.1);
}